.imageGallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  > a {
    width: 100%;
    position: relative;
    color:var(--white);
    height: 85vh;
    &:hover {
      z-index: 10;
    }
    &:hover img {
      filter: grayscale(0);
      transform: scale(1.05);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(100%);
      transition: all 0.25s ease-in-out;
    }
    h1 {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
}
